@page
@model SemesterProjekt_2.Pages.Members.AddMemberModel
@{
    ViewData["title"] = "AddMember";
}
@*Anders*@

<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="@Model.Member.Name"></label>
                <input asp-for="@Model.Member.Name" class="form-control" />
                <span asp-validation-for="@Model.Member.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Member.Address"></label>
                <input asp-for="@Model.Member.Address" />
                <span asp-validation-for="@Model.Member.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Member.Email"></label>
                <input asp-for="@Model.Member.Email" />
                <span asp-validation-for="@Model.Member.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Member.Password"></label>
                <input asp-for="@Model.Member.Password" />
                <span asp-validation-for="@Model.Member.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Member.IsFamily"></label>
                <input asp-for="@Model.Member.IsFamily" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Image" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="@Model.Image" class="custom-file-input form-control" />
                </div>
            </div>
            <div class="form-group">
                <a asp-page="GetAllMembers" class=" btn-btn-primary">Cancel</a>
                <input type="submit" value=" Add Member"  class="btn-btn-primary"/>
            </div>

        </form>
    </div>
</div>