@page
@model SemesterProjekt_2.Pages.Members.DeleteMemberModel
@using SemesterProjekt_2.Interfaces;
@using SemesterProjekt_2.Models
@{
    ViewData["title"] = "AddMember";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.Member.MemberID"></label>
                <input readonly asp-for="@Model.Member.MemberID" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="@Model.Member.Name"></label>
                <input readonly asp-for="@Model.Member.Name" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="@Model.Member.Address"></label>
                <input readonly asp-for="@Model.Member.Address" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="@Model.Member.Email"></label>
                <input readonly asp-for="@Model.Member.Email" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="@Model.Member.IsFamily"></label>
                <input readonly asp-for="@Model.Member.IsFamily" class="form-label" />
            </div>
            <div class="form-group">
                <a asp-page="GetAllMembers" class=" btn-btn-primary">cancel</a>
                <input type="submit" value=" slet medlem" class="btn-btn-primary" />
            </div>

        </form>
    </div>
</div>
