@page
@model SemesterProjekt_2.Pages.Members.GetAllMembersModel
@{
    ViewData["title"] = "GetallMembers";
}

<a asp-page="AddMember"> add room </a>

<form method="get">
    Search <input type="text" asp-for="FilterCriteria" />
    <input type="submit" value="Filter" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                MedlemsID
            </th>
            <th>
                Navn
            </th>
            <th>
                Addresse
            </th>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach(var item in Model.Members)
            {
                <td>
                    @item.MemberID
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    <a asp-page="DeleteMember" asp-route-id="@item.MemberID">delete</a> | <a asp-page="UpdateMember" asp-route-id="@item.MemberID"> update</a>
                </td>
                
            }
        </tr>
    </tbody>
</table>
