@page
@model SemesterProjekt_2.Pages.Members.GetAllMembersModel
@{
    ViewData["title"] = "GetallMembers";
}
@*Anders*@

<a asp-page="AddMember"> add member </a>

<form method="get">
    Search <input type="text" asp-for="FilterCriteria" />
    <input type="submit" value="Filter" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                MedlemsID
            </th>
            <th>
                Navn
            </th>
            <th>
                Addresse
            </th>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Members)
        {
            <tr>
                @if (item.MemberID == (-1))
                {
                    
                }
                else if(item.Email==Model.member.Email & item.Password==Model.member.Password | Model.member.IsAdmin==true)
                {
                <td>
                    @item.MemberID
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    <a asp-page="DeleteMember" asp-route-id="@item.MemberID">delete</a> | <a asp-page="UpdateMember" asp-route-id="@item.MemberID"> update</a>|<a asp-page="HomePage">home</a>
                </td>
                }
                else
                {
                  <td>
                    @item.MemberID
                  </td>
                  <td>
                      @item.Name
                  </td>
                  <td>
                    @item.Address
                  </td>
                  <td>
                    @item.Email
                  </td>
                }
            </tr>


        }
    </tbody>
</table>
