@page
@model SemesterProjekt_2.Pages.Shifts.DeleteModel
@{
    ViewData["Title"] = "Delete Shift";
}

<h1>Delete Shift</h1>
<p>
    <h2>Are you sure you want to delete the following shift from the database?</h2>
    <h3>
        ID: @Model.TBD.ShiftID <br /> 
        From: @Model.TBD.DateFrom <br />
        To: @Model.TBD.DateTo <br />
        Assigned Member: @Model.TBD.MemberID <br />
        Corresponding Event: @Model.TBD.EventID <br />
        Type of Shift: @Model.TBD.ShiftType <br />
    </h3>
    <form method="post">
        <input asp-for="@Model.TBD.ShiftID" type="hidden" />
        <input type="submit" value="Delete" />
        <a asp-page="GetAllShifts">Cancel</a>
    </form>
</p>