@page
@model SemesterProjekt_2.Pages.Shifts.DeleteModel
@{
    ViewData["Title"] = "Delete Shift";
}

<h1>Delete Shift</h1>
<p>
    <h2>Are you sure you want to delete the following shift from the database?</h2>
    <h3>
        ID: @Model.TBD.shiftID
        From: @Model.TBD.dateFrom

        To: @Model.TBD.dateTo

        Assigned Member: @Model.TBD.memberID

        Corresponding Event: @Model.TBD.eventID
    </h3>
    <form method="post">
        <input asp-for="@Model.TBD.shiftID" type="hidden" />
        <input type="submit" value="Delete" />
        <a asp-page="GetAllShifts">Cancel</a>
    </form>
</p>