@page
@model SemesterProjekt_2.Pages.Shifts.DeleteModel
@{
    ViewData["Title"] = "Slet vagt";
}

<h1>Slet vagt</h1>
<p>
    <h2>Er du sikker at du vil slætte den følgende vagt?</h2>
    <h3>
        Vagtnr: @Model.TBD.ShiftID <br />
        Vagttype: @Model.TBD.ShiftType <br />
        Startdato: @Model.TBD.DateFrom <br />
        Slutdato: @Model.TBD.DateTo <br />
        Tilsat medlem: @Model.TBD.MemberID <br />
        Begivenhed: @Model.TBD.EventID <br />
    </h3>
    <form method="post">
        <input asp-for="@Model.TBD.ShiftID" type="hidden" />
        <input type="submit" value="Slet" />
        <a asp-page="GetAllShifts">Nej tak</a>
    </form>
</p>