@page
@using SemesterProjekt_2.Interfaces
@using SemesterProjekt_2.Models
@model SemesterProjekt_2.Pages.Shifts.GetAllShiftsModel
@inject IMemberService mService
@inject IEventService eService
@{
    ViewData["Title"] = "Vagtliste";
}
@*Practically all Shift razorpage stuff is made by Luna*@
@{
    if (Model.CLIMember.MemberID != -1)
    {
    <h1>Vagtliste</h1>

    <form method="get">
                    Søge med startdato (mm-dd-yyyy)<input type="form-control" asp-for="FilterCriteria" asp-format="{0:MM-dd-yyyy}" />
                    <input type="submit" value="Søg" />
    </form>

        {
            if (Model.CLIMember.IsAdmin)
            {
                 <p>
                    <a asp-page="Create">Skab ny vagt</a>
                 </p>
            }
        }

    <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Vagt nr.
                            </th>
                            <th>
                                Vagttype
                            </th>
                            <th>
                                Fra (mm-dd-yyyy)
                            </th>
                            <th>
                                Til (mm-dd-yyyy)
                            </th>
                            <th>
                                Tilsat medlem
                            </th>
                            <th>
                                Begivenhed
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Shifts.Count != 0)
                {
                            @foreach (var item in Model.Shifts)
                    {
                                <tr>
                                    <td>
                                        @item.ShiftID
                                    </td>
                                    <td>
                                        @item.ShiftType
                                    </td>                                    
                                    <td>
                                        @item.DateFrom.ToString("MM-dd-yyyy HH:mm")
                                    </td>
                                    <td>
                                        @item.DateTo.ToString("MM-dd-yyyy HH:mm")
                                    </td>
                                    @{
                                if (item.MemberID == null)
                                {
                                    if (Model.CLIMember.IsAdmin || Model.CLIMember != null)
                                    {
                                        <td>
                                            <a asp-page="ShiftMember" asp-route-shiftid="@item.ShiftID"> --- </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td> --- </td>
                                    }
                                }
                                else
                                {
                                    if (Model.CLIMember.IsAdmin)
                                    {
                                        <td>
                                           <a asp-page="ShiftMember" asp-route-shiftid="@item.ShiftID">@mService.GetMemberByIdAsync(item.MemberID ?? 0).Result.Name</a>
                                        </td>
                                    }
                                    else if (Model.CLIMember != null)
                                    {
                                        if (Model.CLIMember.MemberID == item.MemberID)
                                        {
                                            <td>
                                               <a asp-page="ShiftMember" asp-route-shiftid="@item.ShiftID">@mService.GetMemberByIdAsync(item.MemberID ?? 0).Result.Name</a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>@mService.GetMemberByIdAsync(item.MemberID ?? 0).Result.Name</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>@mService.GetMemberByIdAsync(item.MemberID ?? 0).Result.Name</td>
                                    }
                                }
                                    }
                                    @{
                                if (item.EventID == null)
                                {
                                    if (Model.CLIMember.IsAdmin)
                                    {
                                        <td>
                                            <a asp-page="ShiftEvent" asp-route-shiftid="@item.ShiftID"> --- </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td> --- </td>
                                    }
                                }
                                else
                                {
                                    if (Model.CLIMember.IsAdmin)
                                    {
                                        <td>
                                            <a asp-page="ShiftEvent" asp-route-shiftid="@item.ShiftID">@eService.GetEventByIdAsync(item.EventID ?? 0).Result.name</a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>@eService.GetEventByIdAsync(item.EventID ?? 0).Result.name</td>
                                    }
                                }
                                    }
                                    @{
                                if (Model.CLIMember.IsAdmin)
                                {
                                                    <td> <a asp-page="Update" asp-route-shiftid="@item.ShiftID">Update Shift</a> </td>
                                                    <td> <a asp-page="Delete" asp-route-shiftid="@item.ShiftID">Delete Shift</a> </td>
                                }
                                    }

                                </tr>
                    }
                }
                else
                {

                }
                    </tbody>
    </table>
    }
    else
    {
    <h1>Access denied.</h1>
    }
}
