@page
@model SemesterProjekt_2.Pages.Shifts.GetAllShiftsModel
@{
    ViewData["Title"] = "List of Shifts";
}

<h1>List of Shifts</h1>

<form method="get">
    Search <input type="form-control" asp-for="FilterCriteria" />
    <input type="submit" value="Search" />
</form>

<p>
    <a asp-page="Create">Create New Shift</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Shift No.
            </th>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th>
                Assigned Member
            </th>
            <th>
                Corresponding Event
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Shifts.Count() != 0)
        {
            @foreach (var item in Model.Shifts)
            {
                <tr>
                    <td>
                        @item.ShiftID
                    </td>
                    <td>
                        @item.DateFrom
                    </td>
                    <td>
                        @item.DateTo
                    </td>
                    @{
                        if (item.MemberID == -1)
                        {
                            <td>
                                <a asp-page="ShiftMember" asp-route-shiftid="@item.ShiftID">0</a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a asp-page="ShiftMember" asp-route-shiftid="@item.ShiftID">@item.MemberID</a>
                            </td>
                        }
                    }
                    @{
                        if (item.EventID == -1)
                        {
                            <td>
                                <a asp-page="ShiftEvent" asp-route-shiftid="@item.ShiftID">0</a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a asp-page="ShiftEvent" asp-route-shiftid="@item.ShiftID">@item.EventID</a>
                            </td>
                        }
                    }
                    <td> <a asp-page="Update" asp-route-shiftid="@item.ShiftID">Update Shift</a> </td>
                    <td> <a asp-page="Delete" asp-route-shiftid="@item.ShiftID">Delete Shift</a> </td>
                </tr>
            }
        }
        else
        {

        }
    </tbody>
</table>