@page
@model SemesterProjekt_2.Pages.Shifts.UpdateModel
@{
    ViewData["Title"] = "Update Shift";
}

<h1>Update Shift</h1>
<p>
    <h2>You are currently editing the data bound to the following shift:</h2>
    <h3>
        ID: @Model.TBU.ShiftID <br />
        Name: @Model.TBU.DateFrom <br />
        Address: @Model.TBU.DateTo <br />
        Shift Type: @Model.TBU.ShiftType <br />
    </h3>
</p>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.NewShift.ShiftID"></label>
                <input asp-for="@Model.NewShift.ShiftID" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.NewShift.DateFrom"></label>
                <input asp-for="@Model.NewShift.DateFrom" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.NewShift.DateTo"></label>
                <input asp-for="@Model.NewShift.DateTo" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.NewShift.ShiftType" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="@Model.NewShift.ShiftType" asp-items="Html.GetEnumSelectList<Models.Shift.Type>()"></select>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>