@page
@model SemesterProjekt_2.Pages.BlogPosts.AddBlogPostModel
@{
    ViewData["title"] = "AddBlogPost";
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.Blog.BlogID" class="control-label"></label>
                <input asp-for="@Model.Blog.BlogID" class=" form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Blog.BlogPost" class="control-label"></label>
                <input asp-for="@Model.Blog.BlogPost" class=" form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Blog.Image" class=" control-label"></label>
                <input asp-for="@Model.Blog.Image" class=" form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Blog.memberID" class="control-label"></label>
                <input asp-for="@Model.Blog.memberID" class="form-control" />
            </div>
            <div class="form-group">
                <a asp-page="GetAllBlog" class="btn-primary">cancel</a>
                <input type="submit" value="Add BlogPost" class="btn-primary" />
            </div>
        </form>
    </div>
</div>