@page
@model SemesterProjekt_2.Pages.BlogPosts.DeleteBlogPostModel
@{
    ViewData["title"] = "DeleteBlogPost";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.Post.BlogID" class="control-label"></label>
                <input asp-for="@Model.Post.BlogID" class=" form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Post.BlogPost" class="control-label"></label>
                <textarea asp-for="@Model.Post.BlogPost" rows="6" cols="50"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Post.Image" class=" control-label"></label>
                <input asp-for="@Model.Post.Image" class=" form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Post.memberID" class="control-label"></label>
                <input asp-for="@Model.Post.memberID" class="form-control" />
            </div>
            <div class="form-group">
                <a asp-page="GetAllBlog" class="btn-primary">cancel</a>
                <input type="submit" value="Add BlogPost" class="btn-primary" />
            </div>
        </form>
    </div>
</div>
