@page
@model SemesterProjekt_2.Pages.Events.GetAllEventsModel
@using SemesterProjekt_2.Interfaces;
@inject IEventService eservice;
@{
    ViewData["Title"] = "GetAllEvents";
}
<h1>Velkommen til Eventsiden</h1>

@if (Model.user.IsAdmin == true)
{
    <p>
        <a asp-page="AddEvent">Add new event</a>
    </p>
}

<form method="get">
    Search <input type="text" asp-for="FilterCriteria" />
    <input type="submit" value="Filter" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Event Start
            </th>
            <th>
                Event End
            </th>
            <th>
                Price
            </th>
            <th>
                IsMemberRequired
            </th>
            <th>
                Capacity
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Events.Count() != 0)
        {
            @foreach (var item in Model.Events)
            {
                @if(item.eventStart<DateTime.Now)
                {
                   
                }
                else
                {
                    <tr>
                        @if (item.eventID == 32)
                        {

                        }
                        <td>
                            @item.name
                        </td>
                        <td>
                            @item.eventStart
                        </td>
                        <td>
                            @item.eventEnd
                        </td>
                        <td>
                            @item.price
                        </td>
                        <td>
                            @if (item.isMemberRequired == true)
                            {
                                <p>for medlemmer</p>
                            }
                            else
                            {
                                <p>for alle</p>
                            }
                            @*@(item.isMemberRequired == true)?<p>for medlemmer</p><p>for alle</p>*@
                        </td>
                        <td>
                            @item.capacity
                        </td>
                        @if (Model.user.IsAdmin == true)
                        {
                            <td>
                                <a asp-page="/Events/UpdateEvent" asp-route-eventID="@item.eventID">Edit</a>
                                <a asp-page="/Events/DeleteEvent" asp-route-eventID="@item.eventID">Delete</a>
                            </td>
                        }
                        @if (item.isMemberRequired == true && Model.user.MemberID != -1)
                        {
                            if (item.capacity <= eservice.CountMembers(item.eventID).Result)
                            {
                                <td>
                                    <a asp-page="/Events/LeaveEvent" asp-route-eventid="@item.eventID"> Leave</a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <a asp-page="/Events/JoinEvent" asp-route-eventID="@item.eventID">Join</a>
                                </td>
                            }
                            <td>
                                <a asp-page="/Events/ShowMembers" asp-route-eventID="@item.eventID">Show participants</a>
                            </td>
                        }

                    </tr>
                    
                }

            }
        }
    </tbody>
</table>