@page
@model SemesterProjekt_2.Pages.Events.GetAllEventsModel
@{
    ViewData["Title"] = "GetAllEvents";
}
<h1>Velkommen til Eventsiden</h1>

<p>
    <a asp-page="AddEvent">Add new event</a>
</p>

<form method="get">
    Search <input type="text" asp-for="FilterCriteria" />
    <input type="submit" value="Filter" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Event Start
            </th>
            <th>
                Event End
            </th>
            <th>
                Price
            </th>
            <th>
                IsMemberRequired
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Events.Count() != 0)
        {
            @foreach (var item in Model.Events)
            {
                <tr>
                    @if (Model.user.IsAdmin == true)
                    {
                        <td>
                            @item.eventID
                        </td>
                        <td>
                            @item.name
                        </td>
                        <td>
                            @item.eventStart
                        </td>
                        <td>
                            @item.eventEnd
                        </td>
                        <td>
                            @item.price
                        </td>
                        <td>
                            @item.isMemberRequired
                        </td>
                        <td>
                            <a asp-page="/Events/UpdateEvent" asp-route-eventID="@item.eventID">Edit</a>
                            <a asp-page="/Events/DeleteEvent" asp-route-eventID="@item.eventID">Delete</a>
                        </td>                        
                    }
                    <td>
                        @item.eventID
                    </td>
                    <td>
                        @item.name
                    </td>
                    <td>
                        @item.eventStart
                    </td>
                    <td>
                        @item.eventEnd
                    </td>
                    <td>
                        @item.price
                    </td>
                    <td>
                        @item.isMemberRequired
                    </td>

                </tr>
            }
        }
    </tbody>
</table>