@page
@model SemesterProjekt_2.Pages.Events.GetAllEventsModel
@{
    ViewData["Title"] = "GetAllEvents";
}
<h1>Velkommen til Eventsiden</h1>

<p>
    <a asp-page="AddEvent">Add new event</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Event Start
            </th>
            <th>
                Event End
            </th>
            <th>
                Price
            </th>
            <th>
                IsMemberRequired
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Events.Count() != 0)
        {
            @foreach (var item in Model.Events)
            {
                <tr>
                    <td>
                        @item.eventID
                    </td>
                    <td>
                        @item.name
                    </td>
                    <td>
                        @item.eventStart
                    </td>
                    <td>
                        @item.eventEnd
                    </td>
                    <td>
                        @item.price
                    </td>
                    <td>
                        @item.isMemberRequired
                    </td>
                    <td>
                        <a asp-page="/Rooms/UpdateEvent" asp-route-hotelnr="@item.eventID">Edit</a>
                        <a asp-page="/Rooms/DeleteEvent" asp-route-hotelnr="@item.eventID">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>