@page
@model SemesterProjekt_2.Pages.Events.GetAllEventsModel
@using SemesterProjekt_2.Interfaces;
@inject IEventService eservice;
@{
    ViewData["Title"] = "GetAllEvents";
}
<h1>Velkommen til Begivenhedsiden</h1>

@if (Model.user.IsAdmin == true)
{
    <p>
        <a asp-page="AddEvent">Tilføj ny begivenhed</a>
    </p>
}

<form method="get">
    <input type="text" asp-for="FilterCriteria" />
    <input type="submit" value="Søg" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Navn
            </th>
            <th>
                Starttidspunkt
            </th>
            <th>
                Sluttidspunkt
            </th>
            <th>
                Pris
            </th>
            <th>
                Er medlemskab påkrævet
            </th>
            <th>
                Kapacitet
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Events.Count() != 0)
        {
            @foreach (var item in Model.Events)
            {
                @if(item.eventStart<DateTime.Now && Model.user.IsAdmin == false)
                {
                   
                }
                else
                {
                    <tr>
                        @if (item.eventID == 32)
                        {

                        }
                        <td>
                            @item.name
                        </td>
                        <td>
                            @item.eventStart
                        </td>
                        <td>
                            @item.eventEnd
                        </td>
                        <td>
                            @item.price
                        </td>
                        <td>
                            @if (item.isMemberRequired == true)
                            {
                                <p>For medlemmer</p>
                            }
                            else
                            {
                                <p>For alle</p>
                            }
                            @*@(item.isMemberRequired == true)?<p>for medlemmer</p><p>for alle</p>*@
                        </td>
                        <td>
                            @item.capacity
                        </td>
                        @if (Model.user.IsAdmin == true)
                        {
                            <td>
                                <a asp-page="/Events/UpdateEvent" asp-route-eventID="@item.eventID">Rediger</a>
                                <a asp-page="/Events/DeleteEvent" asp-route-eventID="@item.eventID">Slet</a>
                            </td>
                        }
                        @if (item.isMemberRequired == true && Model.user.MemberID != -1)
                        {
                            @if (eservice.ReturnMembers(item.eventID).Result.Contains(Model.user.MemberID) | item.capacity <= eservice.CountMembers(item.eventID).Result)
                            {
                                    <td>
                                        <a asp-page="/Events/LeaveEvent" asp-route-eventid="@item.eventID">Forlad</a>
                                    </td>
                            }
                            else if (!eservice.ReturnMembers(item.eventID).Result.Contains(Model.user.MemberID))
                            {
                                   <td>
                                      <a asp-page="/Events/JoinEvent" asp-route-eventID="@item.eventID">Deltag</a>
                                   </td>
                                    
                            }
                            <td>
                                <a asp-page="/Events/ShowMembers" asp-route-eventID="@item.eventID">Vis deltagere</a>
                            </td>
                        }

                    </tr>
                    
                }

            }
        }
    </tbody>
</table>