@page
@model SemesterProjekt_2.Pages.Events.GetAllEventsModel
@{
    ViewData["Title"] = "GetAllEvents";
}
<h1>Velkommen til Eventsiden</h1>

@if (Model.user.IsAdmin == true)
{
    <p>
        <a asp-page="AddEvent">Add new event</a>
    </p>
}

<form method="get">
    Search <input type="text" asp-for="FilterCriteria" />
    <input type="submit" value="Filter" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Event Start
            </th>
            <th>
                Event End
            </th>
            <th>
                Price
            </th>
            <th>
                IsMemberRequired
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Events.Count() != 0)
        {
            @foreach (var item in Model.Events)
            {
                <tr>
                    <td>
                        @item.name
                    </td>
                    <td>
                        @item.eventStart
                    </td>
                    <td>
                        @item.eventEnd
                    </td>
                    <td>
                        @item.price
                    </td>
                    <td>
                        @if (item.isMemberRequired == true)
                        {
                            <p>for medlemmer</p>
                        }
                        else 
                        {
                            <p>for alle</p>
                        }
                        @*@(item.isMemberRequired == true)?<p>for medlemmer</p><p>for alle</p>*@
                    </td>
                    @if (Model.user.IsAdmin == true)
                    {
                        <td>
                            <a asp-page="/Events/UpdateEvent" asp-route-eventID="@item.eventID">Edit</a>
                            <a asp-page="/Events/DeleteEvent" asp-route-eventID="@item.eventID">Delete</a>
                        </td>
                    }

                </tr>
            }
        }
    </tbody>
</table>