@page
@model SemesterProjekt_2.Pages.Events.GetAllEventsModel
@{
    ViewData["Title"] = "GetAllEvents";
}
<h1>Velkommen til Eventsiden</h1>

<p>
    <a asp-page="CreateRoom">Add new event</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Event   Start
            </th>
            <th>
                Event End
            </th>
            <th>
                Price
            </th>
            <th>
                IsMemberRequired
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Events.Count() != 0)
        {
            @foreach (var item in Model.Events)
            {
                <tr>
                    <td>
                        @item.ID
                    </td>
                    <td>
                        @item.Types
                    </td>
                    <td>
                        @item.Pris
                    </td>
                    <td>
                        @item.HotelNr
                    </td>
                    <td>
                        <a asp-page="/Rooms/UpdateRoom" asp-route-hotelnr="@item.RoomNr">Edit</a>
                        <a asp-page="/Rooms/DeleteRoom" asp-route-hotelnr="@item.RoomNr">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>