@page
@model SemesterProjekt_2.Pages.Events.LeaveEventModel
@{
    ViewData["Title"] = "LeaveEvent";
}
<h1>Frameld event</h1>
if (@Model.member.IsAdmin)
{
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div class="form-group">
                    <label asp-for="@Model.member.MemberID"></label>
                    <input asp-for="@Model.member.MemberID" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Event.eventID"></label>
                    <input asp-for="@Model.Event.eventID" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Event.name"></label>
                    <input asp-for="@Model.Event.name" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Event.eventStart"></label>
                    <input asp-for="@Model.Event.eventStart" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Event.eventEnd"></label>
                    <input asp-for="@Model.Event.eventEnd" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Event.price"></label>
                    <input asp-for="@Model.Event.price" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Event.isMemberRequired"></label>
                    <input asp-for="@Model.Event.isMemberRequired" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Event.capacity"></label>
                    <input asp-for="@Model.Event.capacity" readonly />
                </div>
                <div class="form-group">
                    <a asp-page="GetAllEvents" class=" btn-btn-primary">Cancel</a>
                    <input type="submit" value=" Frameld" class="btn-btn-primary" readonly />
                </div>
            </form>
        </div>
    </div>
}
