@page
@model SemesterProjekt_2.Pages.Events.UpdateEventModel
@{
    ViewData["Title"] = "Get all events";
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.Event.eventID"></label>
                <input asp-for="@Model.Event.eventID" class="form-control" readonly/>

            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.name"></label>
                <input asp-for="@Model.Event.name" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.eventStart"></label>
                <input asp-for="@Model.Event.eventStart" />

            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.eventEnd"></label>
                <input asp-for="@Model.Event.eventEnd" />

            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.price"></label>
                <input asp-for="@Model.Event.price" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.isMemberRequired "></label>
                <input asp-for="@Model.Event.isMemberRequired" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Event.capacity"></label>
                <input asp-for="@Model.Event.capacity" class="form-control" />
            </div>
            <div class="form-group">
                <a asp-page="GetAllEvents" class=" btn-btn-primary">Cancel</a>
                <input type="submit" value=" Opdater Event" class="btn-btn-primary" />
            </div>

        </form>
    </div>
</div>